{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set richText = theBlock.richText %}
{% set topBorder = theBlock.topBorder ? "topBorder" : "" %}
{% set layout = theBlock.layout %}
{% set narrowWidth = theBlock.narrowWidth ? "narrowWidth" : "" %}

{% if richText %}

    <div class="content-block rich-text-block {{ isFirst }} {{ topBorder }} layout-{{ layout }} {{ narrowWidth }}" data-scroll-section>
        <div class="rich-text">
            {{ richText | typogrify }}
        </div>
    </div>

{% endif %}
