{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_/layouts/site" %}

{% block inline_css %}
    {{ source ("_/#{entry.type.handle}-critical.min.css", ignore_missing = true) }}
{% endblock %}

{% block content %}

    {% set heading = entry.heading | default('') %}
    {% set headingWords = heading | split(" ") %}

    <article data-router-view="home">

        <div class="home-container min-vh-100">

            <div class="wrapper">

                {% if headingWords %}

                    <div class="hero" data-scroll-section>
                        <h1 class="sans-light text-center" data-scroll>

                            {% for word in headingWords %}
                                <span class="word">{{ word }}</span>
                            {% endfor %}

                        </h1>
                    </div>

                {% endif %}

            </div>

            <div class="exhibitions" data-scroll-section>

                <div class="exhibitions-info">

                    <div class="exhibitions-title-container">
                        <h6 class="title" data-scroll data-scroll-speed="" data-scroll-delay="">
                            {{ 'Featured Exhibits'|t|replace(' ', '<br>')|raw }}
                        </h6>
                    </div>

                </div>

                {% set exhibits = entry.featuredExhibits.orderBy('random()').all() %}

                {% for exhibit in exhibits %}

                    {% set exhibitUrl = exhibit.url %}
                    {% set exhibitTitle = exhibit.title %}
                    {% set exhibitStartDate = exhibit.postDate|date('m.y') | default('') %}
                    {% set exhibitEndDate = exhibit.expiryDate|date('m.y') | default('') %}
                    {% set exhibitHeroImage = exhibit.heroImage.one() %}

                    {% do exhibitHeroImage.setTransform({
                        width: 650,
                        quality: 80,
                        format: 'jpg',
                    }) %}

                    {% set speed = [3, 1, 5, 2] %}

                    <div class="exhibit exhibit-{% if loop.index is odd %}odd{% else %}even{% endif %} exhibit-{{ loop.index }}">

                        <div class="container" data-scroll data-scroll-speed="{{ speed[loop.index - 1] }}" data-scroll-delay="">

                            <a class="exhibit-link no-underline" href="{{ exhibitUrl }}">

                                <div class="exhibit-image">
                                    <img class="lazyfade lazyload" data-src="{{ exhibitHeroImage.url }}" alt="">
                                </div>

                                <div class="exhibit-info">

                                    <div class="exhibit-name">
                                        <span>{{ exhibitTitle }}</span>
                                    </div>

                                    <div class="exhibit-date">
                                        <span>
                                            {{ exhibitStartDate }}
                                            {% if exhibitEndDate %}
                                                &mdash;
                                                {{ exhibitEndDate }}
                                            {% endif %}
                                        </span>
                                    </div>

                                </div>

                            </a>

                        </div>

                    </div>

                {% endfor %}

            </div>

            {% include '_/components/block-matrix' %}

        </div>

    </article>

{% endblock %}
