{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_/layouts/site" %}

{% block inline_css %}
    {{ source ("_/#{entry.type.handle}-critical.min.css", ignore_missing = true) }}
{% endblock %}

{% block content %}

    {% if entry.heroImage|length %}
        {% set heroImage = entry.heroImage.one() %}

        {% do heroImage.setTransform({
            width: 1024,
            quality: 80,
            format: 'jpg',
        }) %}
    {% endif %}

    <article data-router-view="newsArticle" data-handle="{{ entry.type.handle }}">

        <div class="news-article-container" data-scroll-section>

            {% include '_/svg/arrowLeft' %}
            <a class="link-back" href="{{ url('news') }}">{{ 'Back to News'|t }}</a>

            <h5 class="hero-heading">{{ entry.title |typogrify }}</h5>

            <img class="hero-image" src="{{ heroImage.url }}" alt="{{ heroImage.title }}">

        </div>

        {% include "_/components/block-matrix" %}

    </article>

{% endblock %}
