{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_/layouts/site" %}

{% block inline_css %}
    {{ source ("_/#{entry.type.handle}-critical.min.css", ignore_missing = true) }}
{% endblock %}

{% block content %}

    {#
        This template is shared by both the News single section and the News category.
        If there is a `category` variable defined then we got here from a category
        route. Otherwise, we got here from the news route.
    #}

    {# {% set handle = category is defined ? category.slug : entry.type.handle %} #}

    <article data-router-view="news" data-handle="news">

        <div class="news-container narrowWidth" data-scroll-section>

            {% if category is defined %}
                {% include '_/svg/arrowLeft' %}
                <a class="link-back" href="{{ url('news') }}">{{ 'Back to News'|t }}</a>
            {% endif %}

            {% if category is defined %}
                <div class="hero-category">{{ 'Category:'|t }}</div>
                <h5 class="hero-category-heading">{{ category.title }}</h5>
            {% else %}
                <h1 class="hero-heading">{{ 'News'|t }}</h1>
            {% endif %}

        </div>

        {% include "_/components/block-matrix" %}

        <div class="news-container" data-scroll-section>

            {#
                We'll also eagerload categories and hero images. Eagerloaded fields
                are then arrays; empty arrays if no category or image.
            #}

            {% set paginationCount = entry.paginationCount.value ?? 10 %}

            {% if category is defined %}
                {% set query = craft.entries.section('newsArticles')
                    .with(['heroImage', 'newsCategory'])
                    .relatedTo(category)
                    .limit(paginationCount)
                %}
            {% else %}
                {% set query = craft.entries().section('newsArticles')
                    .with(['heroImage', 'newsCategory'])
                    .limit(paginationCount)
                    %}
            {% endif %}

            {% paginate query as pageInfo, pageEntries %}

            {% for newsEntry in pageEntries %}

                {% set articleImage = newsEntry.heroImage|first %}

                {% do articleImage.setTransform({
                    width: 440,
                    quality: 80,
                    format: 'jpg',
                }) %}

                <article class="news-article">

                    <div class="info-left">

                        {% if newsEntry.heroImage | length %}
                            <a class="article-image-link no-underline" href="{{ newsEntry.url }}">
                                <img src="{{ articleImage.url }}" alt="{{ articleImage.title }}">
                            </a>
                        {% endif %}

                    </div>

                    <div class="info-right">

                        <h6 class="article-heading">
                            {{ newsEntry.getLink() | typogrify }}
                        </h6>

                        <div class="article-category-date">
                            {{ newsEntry.postDate|date('m.d.Y') }}
                            {% if newsEntry.newsCategory | length %}
                                <span class="divider">|</span>
                                {{ (newsEntry.newsCategory|first).getLink() }}
                            {% endif %}
                        </div>

                        <p class="article-summary">
                            {{ newsEntry.summary | nl2br | typogrify }}
                        </p>

                    </div>

                </article>

            {% endfor %}

            {% if pageInfo.prevUrl or pageInfo.nextUrl %}

                <div class="pagination">

                    {% if pageInfo.prevUrl %}
                        <a href="{{ pageInfo.prevUrl }}">Previous</a>
                    {% endif %}

                    {% if pageInfo.prevUrl and pageInfo.nextUrl %}
                        <span class="divider">|</span>
                    {% endif %}

                    {% if pageInfo.nextUrl %}
                        <a href="{{ pageInfo.nextUrl }}">Next</a>
                    {% endif %}

                </div>

            {% endif %}

        </div>

    </article>

{% endblock %}
