{# @var craft \craft\web\twig\variables\CraftVariable #}

{%- minify -%}

{% set env = getenv('ENVIRONMENT') %}
{% set baseUrl = url() %}

{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}
<!DOCTYPE html>

{%- endminify -%}

<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

    <head>
        {%- minify -%}
        <link rel="dns-prefetch" href="{{ baseUrl }}" crossorigin>
        <link rel="preconnect" href="{{ baseUrl }}" crossorigin>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="csrf-token-name" content="{{ craft.app.config.general.csrfTokenName }}">
        <meta name="csrf-token" content="{{ craft.app.request.csrfToken() }}">

        {# -- Favicons, webapp manifests, etc. -- #}
        {{ craft.twigpack.includeFile("@webroot/dist/webapp.html") }}

            {# Project JS #}
        {{ craft.twigpack.includeSafariNomoduleFix() }}
        {{ craft.twigpack.includeJsModule("runtime.js", true) }}
        {{ craft.twigpack.includeJsModule("app.js", true) }}
        {# /Project JS #}

        {# -- Tiny Cookie JavaScript -- #}
        <script>
            {{ source("_inline-js/tiny-cookie.min.js") }}
        </script>

        {# -- Critical CSS -- #}
        {% set cssHash = craft.twigpack.getModuleHash("app.css", "legacy") %}

        <!--# if expr="$HTTP_COOKIE=/critical\-css\={{ cssHash }}/" -->
        {{ craft.twigpack.includeCssModule("app.css", false) }}
        <!--# else -->
        <script>
            Cookie.set("critical-css", "{{ cssHash }}", { expires: "7D", secure: true });
        </script>

        {{ craft.twigpack.includeCriticalCssTags() }}

        {{ craft.twigpack.includeCssModule("app.css", true) }}
        <!--# endif -->

        {%- endminify -%}
    </head>

    <body class="first-load loading {% if bodyClass is defined %}{{ bodyClass }}{% endif %}">
    <div id="component-container">
    </div>

        {% block body %}{% endblock %}

    </body>

</html>
